html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: lightblue;
  overflow: hidden;
}



#controls {
	position: fixed;
	top: 1%;
	left: 1%;
}

button {
	font-size: 1.5em;
}



#ground {
	position: fixed;
	height: 5%;
	bottom: 0;
	width: 100%;
	background-color: brown;
	box-sizing: border-box;
	border-top: 2px solid;
}

#sun {
  position: fixed;
  top: 0;
  right: 0px;
  height: 200px;
  width: 200px;
  background: url(img/sun.png);
  background-size: cover;
}

.tree {
	position: fixed;
	bottom: 5%;
	left: 0;
	height: 400px;
	width: 200px;
	background-size: cover;
	transform-origin: 0 bottom;
}



.guy {
	position: fixed;
	bottom: 5%;
	background-size: cover;
	width: 200px;
	height: 300px;
  transition: transform 0.1s ease-in-out;
  transform-origin: bottom center;
}

.walker {
	
}

.roller {
	height: 200px;
	bottom: -1.5%;
	transform-origin: center;
}

.flipper {
	bottom: -4.5%;
	transform-origin: center;
}

.dancer {

}

.flyer {
	height: 200px;
	bottom: 50%;
	transition: bottom 1s ease-in-out;
}