html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: lightblue;
  overflow: hidden;
}



#controls {
	position: fixed;
	top: 1%;
	left: 1%;
	right: 1%;
	z-index: 2000;
}


button {
	font-size: 1.4em;
	background: rgba(170, 150, 220, 1);
	border: 2px solid black;
	border-radius: 10%/50%;
	box-shadow: 1px 1px 5px black;
}

button:hover {
	border: 2px solid lightgray;
}

button:active {
	border: 2px solid white;
	background: rgba(150, 150, 200, 0.9);
}

button:focus {
	outline: none;
}

#time{
  margin-left: 3%;
}

#add-tree {
	margin-right: 3%;
}


#ground {
	position: fixed;
	height: 5%;
	bottom: 0;
	width: 100%;
	background-color: brown;
	box-sizing: border-box;
	border-top: 2px solid;
	z-index: 999;
}

#sun, #moon {
  position: fixed;
  top: 0;
  right: 0px;
  height: 200px;
  width: 200px;
  background-size: cover;
	background: url(img/sun.png);
}

#moon {
	position: fixed;
	display: none;
	top: 5%;
	right: 5%;
	height: 100px;
	width: 100px;
	background: url(img/moon.png);
	background-size: cover;
}

.tree {
	position: fixed;
	bottom: 5%;
	left: 0;
	height: 400px;
	width: 200px;
	transform-origin: 0 bottom;
}



#night {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 50, 0.7);
	z-index: 1000;
}




.guy {
	position: fixed;
	bottom: 5%;
	background-size: cover;
	width: 200px;
	height: 300px;
  transition: transform 0.1s ease-in-out;
  transform-origin: bottom center;
}

.walker {
	
}

.roller {
	height: 200px;
	bottom: -1.5%;
	transform-origin: center;
}

.flipper {
	bottom: -4.5%;
	transform-origin: center;
	transition: left 0.3s ease-in-out;
}

.dancer {

}

.flyer {
	height: 200px;
	transition: bottom 1s ease-in-out;
}